.prewedding{
    width:100%;
    display:flex;
    margin-top: 10px;
    .leftside{
        width:50%;
        .s2{
            width:100%;
            border-radius: 20px;
        }

    }
    .rightside{
        width:50%;
        font-size: 25px;
        margin-top: 10%;
        h1{
            text-align: center;
            font-size: 35px;
            text-decoration: underline;
        }
        p{
            width:90%;
            padding-left: 5%;
        }
    }
}