@media(min-width:320px){
    .home{
        width:100%;
        margin-top: -22px;
        .background{
            width:100%;
            background-image: url('../images/img1.jpeg');
            background-size: 100% 300px;
            height: 300px;
            background-repeat: no-repeat;
            background-attachment: fixed;
         
            .heading{
                padding-left: 55%;
                font-size: 20px;
                padding-top: 100px;
                color:rgb(236, 236, 150);
                font-weight: 600;
            } 
        }
        .head{
            text-align: center;
        }
        .c2{
            display: flex;
        
            width:90%;
            margin-left: 5%;
            .c2left{
                width:50%;
                .heading{
                    text-align: center;
                    padding-top: 50%;
                    font-size: 20px;
                }
            }
            .c2right{
                width:50%;
                .image2{
                    width:100%;
                    border-radius: 10px;
                }
            }
        }

    }

}

@media(min-width:500px){
    .home{
        width:100%;
        .background{
            width:100%;
            background-image: url('../images/img1.jpeg');
            background-size: 100% 250px;
            height: 250px;
            margin-top: -22px;
            .heading{
                padding-left: 55%;
                font-size: 20px;
                padding-top: 140px;
                color:rgb(236, 236, 150);
                font-weight: 600;
            }
            
            
        }
    }

}

@media(min-width:768px){
    .home{
        width:100%;
        margin-top: -28px;
        .background{
            width:100%;
            background-image: url('../images/img1.jpeg');
            background-size: 100% 550px;
            height: 450px;
         
            .heading{
                padding-left: 55%;
                font-size: 40px;
                padding-top: 200px;
                color:rgb(236, 236, 150);
                font-weight: 600;
            }
            
            
        }
    }

}

@media(min-width:980px){
    .home{
        width:100%;
        .background{
            width:100%;
            background-image: url('../images/img1.jpeg');
            background-size: 100% 550px;
            height: 450px;
            margin-top: -22px;
            .heading{
                padding-left: 55%;
                font-size: 40px;
                padding-top: 320px;
                color:rgb(236, 236, 150);
                font-weight: 600;
            }
            
            
        }
    }

}
@media(min-width:1200px){
    .home{
        width:100%;
    
        .background{
            width:100%;
                    background-image: url('../images/img1.jpeg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-attachment: fixed;
            height: 700px;
            margin-top: -34px;
            .heading{
                padding-left: 55%;
                font-size: 50px;
                padding-top: 300px;
                color:rgb(236, 236, 150);
                font-weight: 600;
            } 
        }
        .head{
            text-align: center;
            font-size: 40px;
        }

        /*conatiner 2*/
        .c2{
            display: flex;
        
            width:90%;
            margin-left: 5%;
            .c2left{
                width:50%;
                .heading{
                    text-align: center;
                    padding-top: 50%;
                    font-size: 40px;
                }
            }
            .c2right{
                width:50%;
                .image2{
                    width:100%;
                }
            }
        }
    }
}