@media(min-width:320px){
    .home{
        width:100%;
        .background{
            width:100%;
            background-image: url('../images/img1.jpeg');
            background-size: 100% 300px;
            height: 250px;
            background-repeat: no-repeat;
            background-attachment: fixed;
         
        }

        .heading{
            text-align: center;
            font-size: 35px;
            text-decoration: underline;
        }

        .head{
            text-align: center;
        }
        .c2{
            display: flex;
        
            width:90%;
            margin-left: 5%;
            .c2left{
                width:50%;
                .heading{
                    text-align: center;

                    font-size: 20px;
                }
            }
            .c2right{
                width:50%;
                .image2{
                    width:100%;
                    border-radius: 10px;
                }
            }
            li{
                font-size: 15px;             
                padding-top: 10px;
                
            }
        }

    }

}

@media(min-width:500px){
    .home{
        width:100%;
        .background{
            width:100%;
            background-image: url('../images/img1.jpeg');
            background-size: 100% 250px;
            height: 250px;
            margin-top: -22px;
            .heading{
                padding-left: 55%;
                font-size: 20px;
                padding-top: 140px;
                color: blanchedalmond;
                font-weight: 600;
            }
            
            
        }
    }

}

@media(min-width:768px){
    .home{
        width:100%;
        margin-top: -28px;
        .background{
            width:100%;
            background-image: url('../images/img1.jpeg');
            background-size: 100% 550px;
            height: 450px;
         
            
            
        }

        .c2{
            display: flex;
        
            width:90%;
            margin-left: 5%;
            .c2left{
                width:50%;
                .heading{
                    text-align: center;
                    font-size: 30px;
                }
            }
            .c2right{
                width:50%;
                .image2{
                    width:100%;
                    border-radius: 10px;
                }
            }
            li{
                font-size: 25px;             
                padding-top: 15px;
                padding-left: 5%;
                
            }
        }

    }

}

@media(min-width:980px){
    .home{
        width:100%;
        .background{
            width:100%;
            background-image: url('../images/img1.jpeg');
            background-size: 100% 550px;
            height: 450px;
            margin-top: -22px;
            .heading{
                padding-left: 55%;
                font-size: 40px;
                padding-top: 320px;
                color: blanchedalmond;
                font-weight: 600;
            }
            
            
        }
    }

}
@media(min-width:1200px){
    .home{
        width:100%;
        margin-top: 20px;
        .background{
            width:100%;
            background-image: url('../images/img1.jpeg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-attachment: fixed;
            height: 700px;
            
            .heading{
                padding-left: 65%;
                font-size: 50px;
                padding-top: 400px;
                color: blanchedalmond;
                font-weight: 600;
            } 
        }
        .heading{
            text-align: center;
            font-size: 50px;
            text-decoration: underline;
        }
        .head{
            text-align: center;
            font-size: 40px;
        }


        /*conatiner 2*/
        .c2{
            display: flex;
        
            width:90%;
            margin-left: 5%;
            .c2left{
                width:50%;
                .heading{
                    text-align: center;
                    padding-top: 10%;
                    font-size: 40px;
                }
            }
            li{
                font-size: 30px;             
                padding-top: 20px;
                margin-left: 5%;
            }
            .c2right{
                width:50%;
                .image2{
                    width:100%;
                }
            }
        }
    }
}